<img class="bannerbolos" [src]=" bannerHome " alt="banner home" height="300px" width="1350px">
<div class="container text-center">
  <div class="row">
    <!--Container Produtos-->
    <div class="col-sm col-md-5 col-xl-5">
      <app-carrossel></app-carrossel>
    </div>
    </div>
    <!--Container Promocoes-->
    <div class="col-sm col-md-5 col-xl-5">
    <div class="containerPro">
     <app-carrossel></app-carrossel>
    </div>
    </div>
   <!--Container Pedidos-->
  <div class="col-sm col-md-5 col-xl-5">
     <div class="container container_P">
      <h2>Container Pedidos</h2>
       <p>Acompanhe seus Pedidos</p>
     </div>
    </div>
  <!--Container Novidades-->
  <div class="col-sm col-md-5 col-xl-5">
    <div class="container containerNov">
      <app-carrossel></app-carrossel>
    </div>
    </div>
  </div>



