<div class="content">
<div class="container text-center">
  <div class="row">
    <div class="col-sm col-md-12 col-xl-5">
    <div class="container col-xl-10">
      <div class=" col-12">
        <mat-card class="card-1">
          <div class="imgcard">
         <img  [src]=" urlBoloTrad1 " alt="Bolo tradcional">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">

          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
           <!-- Button trigger modal -->
           <app-modal-component type="button" class="btn_modal">
            info
          </app-modal-component>


           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-2">
          <div class="imgcard">
            <img  [src]=" urlBoloTrad2 " alt="Bolo tradcional">
          </div>
          <div class="card_body">
            <h3 class="titulo_Card">Bolos</h3>
            <p class="subtitulo_Card">Descrição</p>
            <ul>
             <!--<li>1</li>
              <li>1</li>
              <li>1</li>-->
            </ul>
          </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
            <app-modalbl-component type="button" class="btn_modal">
              info
             </app-modalbl-component>
           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-3">
          <div class="imgcard">
            <img  [src]=" urlBoloTrad3 " alt="Bolo tradcional">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
            <app-modalbb-component type="button" class="btn_modal">
              info
            </app-modalbb-component>


           </div>
        </div>
        </mat-card>
       </div>



    </div>
    </div>


    <div class="row2">
      <div class="col-sm col-md-12 col-xl-5">
        <div class="container col-xl-10">


        <!--Bolos Com Cobertura-->
          <div class=" col-12">
            <mat-card class="card-1">
              <div class="imgcard">
             <img  [src]="urlBoloCob1" alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">

              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
               <!-- Button trigger modal -->
               <app-modal-component type="button" class="btn_modal">
                info
              </app-modal-component>


               </div>
            </div>
            </mat-card>
           </div>

           <div class="col-12">
            <mat-card class="card-2">
              <div class="imgcard">
                <img  [src]=" urlBoloCob2 " alt="Bolo tradcional">
              </div>
              <div class="card_body">
                <h3 class="titulo_Card">Bolos</h3>
                <p class="subtitulo_Card">Descrição</p>
                <ul>
                 <!--<li>1</li>
                  <li>1</li>
                  <li>1</li>-->
                </ul>
              </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbl-component type="button" class="btn_modal">
                  info
                 </app-modalbl-component>
               </div>
            </div>
            </mat-card>
           </div>

           <div class="col-12">
            <mat-card class="card-3">
              <div class="imgcard">
                <img  [src]=" urlBoloCob3 " alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbb-component type="button" class="btn_modal">
                  info
                </app-modalbb-component>


               </div>
            </div>
            </mat-card>
           </div>
        </div>
      <!--Bolos Com Cobertura-->

      <!--Bolos Para Festas-->

      <div class="container text-center">
        <div class="row3">
          <div class="col-sm col-md-12 col-xl-5">
          <div class="container col-xl-10">

           <div class="col-12">
            <mat-card class="card-1">
              <div class="imgcard">
             <img  [src]=" urlBoloBf1 " alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">

              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
               <!-- Button trigger modal -->
               <app-modal-component type="button" class="btn_modal">
                info
              </app-modal-component>


               </div>
            </div>
            </mat-card>
           </div>

           <div class="col-12">
            <mat-card class="card-2">
              <div class="imgcard">
                <img  [src]=" urlBoloBf2 " alt="Bolo tradcional">
              </div>
              <div class="card_body">
                <h3 class="titulo_Card">Bolos</h3>
                <p class="subtitulo_Card">Descrição</p>
                <ul>
                 <!--<li>1</li>
                  <li>1</li>
                  <li>1</li>-->
                </ul>
              </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbl-component type="button" class="btn_modal">
                  info
                 </app-modalbl-component>
               </div>
            </div>
            </mat-card>
            </div>

           <div class="col-12">
            <mat-card class="card-3">
              <div class="imgcard">
                <img  [src]=" urlBoloBf3 " alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbb-component type="button" class="btn_modal">
                  info
                </app-modalbb-component>


               </div>
            </div>
            </mat-card>
          </div>

          </div>
          </div>
        </div>
      </div>
    <!--Bolos Para Festas-->

      <div class="container text-center">
        <div class="row4">
          <div class="col-sm col-md-12 col-xl-5">
          <div class="container col-xl-10">

           <div class="col-12">
            <mat-card class="card-1">
              <div class="imgcard">
             <img  [src]=" urlBoloTrad1 " alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">

              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
               <!-- Button trigger modal -->
               <app-modal-component type="button" class="btn_modal">
                info
              </app-modal-component>


               </div>
            </div>
            </mat-card>
           </div>

           <div class="col-12">
            <mat-card class="card-2">
              <div class="imgcard">
                <img  [src]=" urlBoloTrad2 " alt="Bolo tradcional">
              </div>
              <div class="card_body">
                <h3 class="titulo_Card">Bolos</h3>
                <p class="subtitulo_Card">Descrição</p>
                <ul>
                 <!--<li>1</li>
                  <li>1</li>
                  <li>1</li>-->
                </ul>
              </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbl-component type="button" class="btn_modal">
                  info
                 </app-modalbl-component>
               </div>
            </div>
            </mat-card>
            </div>

           <div class="col-12">
            <mat-card class="card-3">
              <div class="imgcard">
                <img  [src]=" urlBoloTrad3 " alt="Bolo tradcional">
            </div>
            <div class="card_body">
              <h3 class="titulo_Card">Bolos</h3>
              <p class="subtitulo_Card">Descrição</p>
              <ul>
               <!--<li>1</li>
                <li>1</li>
                <li>1</li>-->
              </ul>
            </div>
            <div class="container-btn">
              <div class="row">
                <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
                </div>
                <div class="row">
                  <button class="btn btn-danger" (click)="decrementa()">Remover</button>
                </div>
               <div class="row">
                <app-modalbb-component type="button" class="btn_modal">
                  info
                </app-modalbb-component>


               </div>
            </div>
            </mat-card>
          </div>

          </div>
          </div>
        </div>
      </div>
    </div>
















<div class="contador">
  <p  class="valor0" valor="0">{{valor}}</p>
</div>

