<div class="container text-center">
  <div class="row">
    <div class="col-sm col-md-12 col-xl-5">
    <div class="container col-xl-10">
      <div class=" col-12">
        <mat-card class="card-1">
          <div class="imgcard">
         <img  src="./assets/bolofesta/slidebf1alt.png" alt="">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">
         
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
           <!-- Button trigger modal -->
           <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbl">
            info
          </button>
           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-2">
          <div class="imgcard">
            <img  src="./assets/bolofesta/slidebf2alt.png" alt="">
          </div>
          <div class="card_body">
            <h3 class="titulo_Card">Bolos</h3>
            <p class="subtitulo_Card">Descrição</p>
            <ul>
             <!--<li>1</li>
              <li>1</li>
              <li>1</li>-->
            </ul>
          </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
             <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbc">
            info
          </button>
           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-3">
          <div class="imgcard">
            <img  src="./assets/bolofesta/slidebf3alt.png" alt="">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbb" >Info</button>
         
           </div>
        </div>
        </mat-card>
       </div>
    </div>
    </div>
  </div>
  <div class="row2">
    <div class="col-sm col-md-12 col-xl-5">
    <div class="container col-xl-10">
      <div class=" col-12">
        <mat-card class="card-1">
          <div class="imgcard">
            <img  src="./assets/bolofesta/slidebf1alt.png" alt="">
          </div>
          <div class="card_body">
            <h3 class="titulo_Card">Bolos</h3>
            <p class="subtitulo_Card">Descrição</p>
            <ul>
             <!--<li>1</li>
              <li>1</li>
              <li>1</li>-->
            </ul>
          </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
             <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbl">
            info
          </button>
           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-2">
          <div class="imgcard">
            <img  src="./assets/bolofesta/slidebf2alt.png" alt="">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbc">
              info
             </button>
           </div>
        </div>
        </mat-card>
       </div>

       <div class="col-12">
        <mat-card class="card-3">
          <div class="imgcard">
            <img  src="./assets/bolofesta/slidebf3alt.png" alt="">
        </div>
        <div class="card_body">
          <h3 class="titulo_Card">Bolos</h3>
          <p class="subtitulo_Card">Descrição</p>
          <ul>
           <!--<li>1</li>
            <li>1</li>
            <li>1</li>-->
          </ul>
        </div>
        <div class="container-btn">
          <div class="row">
            <button class="btn btn-success" (click)="incrementa()">Adicionar</button>
            </div>
            <div class="row">
              <button class="btn btn-danger" (click)="decrementa()">Remover</button>
            </div>
           <div class="row">
           <!-- Button trigger modal -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdropbb">
            info
          </button>
            
           </div>
        </div>
        
        </mat-card>
    
    </div>
    </div>
    </div>
  </div>
</div>






<div class="contador">
  <p  class="valor0" valor="0">{{valor}}</p>
</div>

