.bannercadastro{
  position: relative;
  bottom: 708px;
  z-index: -1;
}



.container-fluid{
    position: relative;
    left: 350px;
    bottom: 450px;
  }

  .card_form_cadpf{
    position: relative;
    bottom: 500px;
    background-color: #B39DDB;
    border-radius: 30px;
    border: 2px solid grey;
  }



  .mat-button{
    background-color: #93d1f4;
    margin: 2px;
    border-radius: 10px;
    width: 100px;
    font-family: segoe script;
    font-size: 14px;
    font-weight: bold;
    color: #4E342E;
    height:40px;

  }

  .btnVoltar{
    padding-top: 9px;
   background-color: #4E342E;
   width: 100px;
  font-family: segoe script;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  height: 23px;
  font-size: 14px;
  height:40px;
  }


  @media(min-width:320px)and(max-width:720px){
    .card_form_cadpf{
      position: relative;
      bottom: 500px;
      left: 0px;
      background-color: #B39DDB;
      border-radius: 30px;
      border: 2px solid grey;
    }

    .container-fluid{
      position: relative;
      left: 0px;
    }

   
  }


  @media(width:320px)and(width:720px){
    .bannercadastro{
      height: 320px;
      position: relative;
      bottom: 123px;
    }

    
  }
