h3{
  position: relative;
  bottom:700px;
  text-align: center;
  font-family: segoe script;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

table{
  width: 50%;
  position: relative;
  left: 200px;
  bottom:700px;
  border: 2px solid black;
}

.text-end{
  position: relative;
  right: 500px;
  bottom:700px;
  color: white;
  font-family: segoe script;
}

button{
  width: 100px;
  height: 35px;
  border-radius: 30px;
  background-color: rgb(95, 65, 65);
  color: white;
  font-family: segoe script;
}