<div  class="contador">
  <p valor="0">{{valor}}</p>
</div>


<!--<h3>Carrinho de Compras</h3>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th>Tipo Bolo</th>
      <th>Quantidade</th>
      <th>Preço Unitario</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let beer of beers">
    <tr>
      <img [src]="bolo.imageUrl" width="40" height="40" >
      <td>{{bolo.tipoBolo}}</td>
      <td>{{bolo.nome}}</td>
      <td>{{bolo.codigo}}</td>
      <td>{{bolo.quantidade}}</td>
      <td>{{bolo.peso}}</td>
      <td>{{bolo.preco | currency:'BR'}}</td>
    </tr>
    </ng-container>
  </tbody>
</table>

<p class="text-end">Total {{total() | currency:'ARS'}}</p>
<div class="text-end">
    <button class="btn btn-primary">Comprar</button>
</div>-->



<div>
  <button  class="btn btn-primary"  (click)="decrementa()">-</button>
   <input type="text" [value]="valor" readonly>
  <button  class="btn btn-primary" (click)="incrementa()">+</button>
</div>

