mat-card {
  background-color:#7C4DFF;
  width: 400px;
  height: 700px;
  bottom: 6px;
  position: relative;
  left: 850px;
  border-radius: 20px;
  border: 2px solid grey;
}
.sidebar{
  
  width: 300px;
  position: relative;
  left: 945px;
}
