mat-card {
  background-color:#7C4DFF;
  width: 300px;
  height: 100px;
  top: 890px;
  position: relative;
  left: 945px;
  border-radius: 20px;
  border: 2px solid grey;
}
.sidebar{
  
  width: 300px;
  position: relative;
  left: 945px;
}
