mat-toolbar{
  background-color:#6200EA;
  font-family: segoe script;
  color: white;
}

form{
  position: relative;
  left: 730px;
  
}

.btn{
  background-color: #93d1f4;
  color:white;
}

.spanlogo{
  position: relative;
  left:530px;
}


.navbar{
  background-color: #62508f;
}

.nav-tabs{
  background-color: #6852a1;
  position: relative;
  left: 10px;
  color:white;
  border: 1px solid white;
  border-radius: 8px;
  

}
.nav-tabs:hover{
  background-color: #7c6ba8;
 

}

a{
  color: white;
  font-family: segoe script;
  font-size: 11px;
  text-decoration: none;
}

a:hover{
  color: white;
}

@media(width:320px)and(width:320px){
  .nav-tabs{
    background-color: #6852a1;
    position: relative;
    left: 0px;
    font-size: 11px;
    width: 320px;


  }

  .spanlogo{
    position: relative;
    left:30px;
  }

  



}
