mat-toolbar{
  background-color:#7C4DFF;
  font-family: segoe script;
  color: white;
}


.navbar{
  background-color: #62508f;
}

.nav-tabs{
  background-color: #6852a1;
  position: relative;
  left: 120px;

}

a{
  color: white;
  font-family: segoe script;
  font-size: 11px;
}
