
 <mat-toolbar>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn" type="submit">Search</button>
    </form>
  </mat-toolbar>
<nav class="navbar navbar-expand-lg">
  
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Perfil</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
   
    <li [ngbNavItem]="3">
      <a ngbNavLink>Bolos Tradcionais</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Bolos Com Cobertura</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Bolos Para Festas</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Cadastro</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Orcamento</a>
      <ng-template ngbNavContent>

      </ng-template>
    </li>
  </ul>

  
</nav>

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>





