mat-toolbar{
  //background-color:#7C4DFF;
  background-color: #7d69ac;
  //background-color:#6200EA;
  font-family: segoe script;
  color: white;
}

form{
  position: relative;
  left: 730px;

}

.btn{
  background-color: #93d1f4;
  color:white;
}

.spanlogo{
  position: relative;
  left:530px;
}


.navbar{
  background-color: #62508f;

}

.nav-tabs{
  background-color: #6852a1;
  position: relative;
  left: 100px;
  color:white;
  border: 1px solid white;
  border-radius: 8px;


}
.nav-tabs:hover{
  background-color: #7c6ba8;


}

a{
  color: white;
  font-family: segoe script;
  font-size: 11px;
  text-decoration: none;
}

a:hover{
  color: white;
}

@media(width:320px)and(width:320px){

  .navbar{
    background-color: #7d69ac;
  
  }
  .nav-tabs{

    background-color: #6852a1;
    position: relative;
    left: 80px;
    font-size: 8px;
    width: 235px;
    height: 300px;
    z-index:-1;
    background-color: #7d69ac;


  }
  li{
    width: 300px;
  }
  





}
